.nav {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    
}

.icons {
    display: flex;
    align-items: anchor-center;
    width: 100%;
    justify-content: end;
    gap: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    /* flex-basis: 100%; */
    /* column-gap: 5rem; */
}

.container  {

    max-width:  1400px;
    margin: 0 auto;
}

#logo {

    align-self: anchor-center;
}