/* :root {
    font-size: 30px;
} */

.nav {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    /* align-items: anchor-center; */
    
}

.icons {
    display: flex;
    align-items: anchor-center;
    width: 100%;
    justify-content: end;
    gap: 3rem;
    
}

header {
    display: flex;
    justify-content: space-between;
    /* flex-basis: 100%; */
    /* column-gap: 5rem; */
    padding-top: 1rem;
    color:hsl(219, 9%, 45%);
    font-family: 'Kumbh' ,sans-serif;
    font-weight: 400;
   /* font-weight:600; */
    font-size: 12px; 
}

.container  {

    max-width:  1400px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#logo {

    align-self: anchor-center;
}

.line {
    border-top: 1px solid rgba(222, 217, 217, 0.962);
    height: 1px;
    margin-top: 2rem; 
}

main {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Kumbh' ,sans-serif;
    margin-top: 5rem;

}

.products > div :first-child {

    /* height: auto; */
    width: 300px;
} 

.preview > div > img {

        width: 60px;
        border-radius: 7px;
}
.preview {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

}

#company-name > p {

    color:hsl(219, 9%, 45%);
    font-size: 12px;
    font-weight: 600;


}

/* #company-name , #phrase , #description  {

    font-family: 'Kumbh' ,sans-serif;
} */
#phrase > h1 {
    font-weight: 600;
    font-size: 40px;;
    margin: auto;
}

#description {

    color:hsl(219, 9%, 45%);
    margin: auto;
}

#decription > p {
    margin: 1px;

}

.price {

    display: flex;
    width: 125px;
    justify-content: space-between;
    align-items: anchor-center;
}

#dollar > h2 {

    margin: 1px;

}

#discount > h3 {

    margin: 1px;
    color: #fff;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    padding: 4.5px;
    
}

.products > div > img{

    border-radius: 15px;
}

#og-price {
    font-size: 15px;
    color: hsl(219, 9%, 45%);
    margin-bottom: 2px;
}

#plus {

    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: anchor-center;
    background-color: hsl(223, 64%, 98%);
    border-radius: 7px;
    height: 40px;
     padding: 1px ;

}

#plus > div > p {

    font-family: 'Kumbh' ,sans-serif;

}

#quantity {

    display: flex;
    width: 250px;
    justify-content: space-around;
}

#minus {
    align-items: anchor-center;
    padding-bottom: 5px;
}


.submit {

    background-color: hsl(26, 100%, 55%);
    font-family: 'Kumbh' , sans-serif;
    border-radius: 5px;
    display: flex;
    align-items: anchor-center;
    border: none;
    font-size: 10px;
    font-weight: 400px;
    width: 125px;
    padding: 1px 20px;
}

.add-cart {
    
    display: flex;
}

#box > div {
    display: flex;
    justify-content: space-between;
}

.add-cart > p {
    
    font-family: 'Kumbh' ,sans-serif;

}

/* .part-1 {
  max-width: 50%;
}

.part-2 {
  max-width: 50%;
} */
 
#menu {
        display: flex;
        align-items: anchor-center;
        display: none;

 }

@media screen and ( max-width: 375px) {

    main {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1rem;
        
    }

    .preview {

        display: none;
    }

    .nav >  div > p {

        display: none;

    }

    .products > div {

        width: 100%;
    }

    .products > div  :first-child {

        width: 100%;
    }

    #menu {

        display: block;
        display: flex;
        align-items: anchor-center;
    }
    .icons {

        display: flex;
        justify-content: flex-start;
        width: 100px;
    }
    
    #pricetag {

        display: flex;
        justify-content: space-between
    }

    #quantity {

        display: flex;
        flex-direction: column;
        width: 100%;

    }

    #plus {

        width: 100%;
        margin-bottom: 1rem;
    }

    .submit {

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .box {

        display: flex;
        justify-content: center;
    }

}