.nav {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    
}

.icons {
    display: flex;
    align-items: anchor-center;
    width: 100%;
    justify-content: end;
}

header {
    display: flex;
    justify-content: space-between;
}

.container  {

    max-width:  1400px;
    margin: 0 auto;
}